body {

	background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: times, helvetica, sans-serif, times New Roman; 
    font-size: 18px; 
	padding: 0 10px 0 10px;}


* { 
	
	font-family: times, helvetica, sans-serif, times New Roman;


}

header,
h1 {
		text-align: center;
		font-size: 28px;
	}

nav {
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	font-family: impact;
}





